<?xml version="1.0"?>
<muse version="3.3">
  <configuration>
    <palette0 r="40" g="50" b="60"></palette0>
    <palette1 r="255" g="255" b="255"></palette1>
    <palette2 r="255" g="255" b="255"></palette2>
    <palette3 r="255" g="255" b="255"></palette3>
    <palette4 r="25" g="144" b="255"></palette4>
    <palette5 r="255" g="255" b="255"></palette5>
    <palette6 r="255" g="255" b="255"></palette6>
    <palette7 r="255" g="255" b="255"></palette7>
    <palette8 r="20" g="30" b="40"></palette8>
    <palette9 r="255" g="255" b="255"></palette9>
    <palette10 r="255" g="255" b="255"></palette10>
    <palette11 r="255" g="255" b="255"></palette11>
    <palette12 r="255" g="255" b="255"></palette12>
    <palette13 r="255" g="255" b="255"></palette13>
    <palette14 r="255" g="255" b="255"></palette14>
    <palette15 r="255" g="255" b="255"></palette15>
    <partColor0 r="59" g="91" b="219"></partColor0>
    <partColor1 r="224" g="49" b="49"></partColor1>
    <partColor2 r="102" g="168" b="15"></partColor2>
    <partColor3 r="76" g="110" b="245"></partColor3>
    <partColor4 r="255" g="169" b="77"></partColor4>
    <partColor5 r="9" g="146" b="104"></partColor5>
    <partColor6 r="230" g="73" b="128"></partColor6>
    <partColor7 r="18" g="184" b="134"></partColor7>
    <partColor8 r="130" g="201" b="30"></partColor8>
    <partColor9 r="250" g="82" b="82"></partColor9>
    <partColor10 r="102" g="168" b="15"></partColor10>
    <partColor11 r="59" g="91" b="219"></partColor11>
    <partColor12 r="255" g="169" b="77"></partColor12>
    <partColor13 r="18" g="184" b="134"></partColor13>
    <partColor14 r="194" g="37" b="92"></partColor14>
    <partColor15 r="76" g="110" b="245"></partColor15>
    <partColor16 r="9" g="146" b="104"></partColor16>
    <partColor17 r="253" g="126" b="20"></partColor17>
    <partCanvasBg r="33" g="37" b="41"></partCanvasBg>
    <dummyPartColor r="33" g="37" b="41"></dummyPartColor>
    <partCanvasCoarseRaster r="0" g="0" b="0"></partCanvasCoarseRaster>
    <partCanvasBeatRaster r="73" g="80" b="87"></partCanvasBeatRaster>
    <partCanvasFineRaster r="52" g="58" b="64"></partCanvasFineRaster>
    <trackBg r="0" g="0" b="0"></trackBg>
    <selectTrackBg r="9" g="146" b="104"></selectTrackBg>
    <selectTrackFg r="241" g="243" b="245"></selectTrackFg>
    <selectTrackCurBg r="224" g="49" b="49"></selectTrackCurBg>
    <trackSectionDividerColor r="0" g="0" b="0"></trackSectionDividerColor>
    <midiTrackLabelBg r="9" g="146" b="104"></midiTrackLabelBg>
    <newDrumTrackLabelBg2 r="230" g="73" b="128"></newDrumTrackLabelBg2>
    <waveTrackLabelBg r="194" g="37" b="92"></waveTrackLabelBg>
    <outputTrackLabelBg r="102" g="168" b="15"></outputTrackLabelBg>
    <inputTrackLabelBg r="224" g="49" b="49"></inputTrackLabelBg>
    <groupTrackLabelBg r="255" g="169" b="77"></groupTrackLabelBg>
    <auxTrackLabelBg2 r="253" g="126" b="20"></auxTrackLabelBg2>
    <synthTrackLabelBg r="59" g="91" b="219"></synthTrackLabelBg>
    <midiTrackBg r="59" g="91" b="219"></midiTrackBg>
    <ctrlGraphFg r="59" g="91" b="219"></ctrlGraphFg>
    <ctrlGraphSel r="230" g="73" b="128"></ctrlGraphSel>
    <drumTrackBg r="49" g="71" b="90"></drumTrackBg>
    <newDrumTrackBg r="194" g="37" b="92"></newDrumTrackBg>
    <waveTrackBg r="253" g="126" b="20"></waveTrackBg>
    <outputTrackBg r="52" g="58" b="64"></outputTrackBg>
    <inputTrackBg r="52" g="58" b="64"></inputTrackBg>
    <groupTrackBg r="52" g="58" b="64"></groupTrackBg>
    <auxTrackBg r="52" g="58" b="64"></auxTrackBg>
    <synthTrackBg r="102" g="168" b="15"></synthTrackBg>
    <sliderBarDefaultColor r="52" g="58" b="64"></sliderBarDefaultColor>
    <sliderDefaultColor2 r="33" g="37" b="41"></sliderDefaultColor2>
    <panSliderColor2 r="59" g="91" b="219"></panSliderColor2>
    <gainSliderColor2 r="0" g="120" b="86"></gainSliderColor2>
    <auxSliderColor2 r="253" g="126" b="20"></auxSliderColor2>
    <audioVolumeSliderColor2 r="0" g="0" b="0"></audioVolumeSliderColor2>
    <midiVolumeSliderColor2 r="0" g="0" b="0"></midiVolumeSliderColor2>
    <audioVolumeHandleColor r="73" g="80" b="87"></audioVolumeHandleColor>
    <midiVolumeHandleColor r="73" g="80" b="87"></midiVolumeHandleColor>
    <audioControllerSliderDefaultColor2 r="194" g="37" b="92"></audioControllerSliderDefaultColor2>
    <audioPropertySliderDefaultColor2 r="250" g="82" b="82"></audioPropertySliderDefaultColor2>
    <midiControllerSliderDefaultColor2 r="102" g="168" b="15"></midiControllerSliderDefaultColor2>
    <midiPropertySliderDefaultColor2 r="255" g="169" b="77"></midiPropertySliderDefaultColor2>
    <midiPatchReadoutColor r="18" g="184" b="134"></midiPatchReadoutColor>
    <knobFontColor r="190" g="190" b="190"></knobFontColor>
    <audioMeterPrimaryColor r="0" g="255" b="0"></audioMeterPrimaryColor>
    <midiMeterPrimaryColor r="0" g="255" b="0"></midiMeterPrimaryColor>
    <meterBackgroundColor r="0" g="0" b="0"></meterBackgroundColor>
    <rackItemBackgroundColor r="0" g="0" b="0"></rackItemBackgroundColor>
    <rackItemBgActiveColor r="0" g="120" b="86"></rackItemBgActiveColor>
    <rackItemFontColor r="206" g="212" b="218"></rackItemFontColor>
    <rackItemFontActiveColor r="241" g="243" b="245"></rackItemFontActiveColor>
    <rackItemBorderColor r="33" g="37" b="41"></rackItemBorderColor>
    <rackItemFontColorHover r="248" g="249" b="250"></rackItemFontColorHover>
    <midiInstrumentBackgroundColor r="0" g="0" b="0"></midiInstrumentBackgroundColor>
    <midiInstrumentBgActiveColor r="52" g="58" b="64"></midiInstrumentBgActiveColor>
    <midiInstrumentFontColor r="206" g="212" b="218"></midiInstrumentFontColor>
    <midiInstrumentFontActiveColor r="241" g="243" b="245"></midiInstrumentFontActiveColor>
    <midiInstrumentBorderColor r="33" g="37" b="41"></midiInstrumentBorderColor>
    <transportHandleColor r="73" g="80" b="87"></transportHandleColor>
    <bigtimeForegroundcolor r="224" g="49" b="49"></bigtimeForegroundcolor>
    <bigtimeBackgroundcolor r="33" g="37" b="41"></bigtimeBackgroundcolor>
    <waveEditBackgroundColor r="33" g="37" b="41"></waveEditBackgroundColor>
    <rulerBackgroundColor r="0" g="0" b="0"></rulerBackgroundColor>
    <rulerForegroundColor r="206" g="212" b="218"></rulerForegroundColor>
    <rulerCurrentColor r="18" g="184" b="134"></rulerCurrentColor>
    <waveNonselectedPart r="192" g="192" b="192"></waveNonselectedPart>
    <wavePeakColor r="241" g="243" b="245"></wavePeakColor>
    <waveRmsColor r="206" g="212" b="218"></waveRmsColor>
    <wavePeakColorSelected r="192" g="192" b="192"></wavePeakColorSelected>
    <waveRmsColorSelected r="255" g="255" b="255"></waveRmsColorSelected>
    <partWaveColorPeak r="0" g="0" b="0"></partWaveColorPeak>
    <partWaveColorRms r="206" g="212" b="218"></partWaveColorRms>
    <partMidiDarkEventColor r="33" g="37" b="41"></partMidiDarkEventColor>
    <partMidiLightEventColor r="206" g="212" b="218"></partMidiLightEventColor>
    <midiCanvasBackgroundColor r="33" g="37" b="41"></midiCanvasBackgroundColor>
    <midiCanvasFineColor r="52" g="58" b="64"></midiCanvasFineColor>
    <midiCanvasBeatColor r="73" g="80" b="87"></midiCanvasBeatColor>
    <midiCanvasBarColor r="206" g="212" b="218"></midiCanvasBarColor>
    <midiDividerColor r="52" g="58" b="64"></midiDividerColor>
    <midiItemColor r="0" g="100" b="200"></midiItemColor>
    <midiItemSelectedColor r="230" g="73" b="128"></midiItemSelectedColor>
    <midiControllerViewBackgroundColor r="0" g="0" b="0"></midiControllerViewBackgroundColor>
    <drumListBackgroundColor r="33" g="37" b="41"></drumListBackgroundColor>
    <drumListFont r="241" g="243" b="245"></drumListFont>
    <drumListSel r="9" g="146" b="104"></drumListSel>
    <drumListSelFont r="248" g="249" b="250"></drumListSelFont>
    <pianoCurrentKey r="76" g="110" b="245"></pianoCurrentKey>
    <pianoPressedKey r="230" g="73" b="128"></pianoPressedKey>
    <pianoSelectedKey r="18" g="184" b="134"></pianoSelectedKey>
    <markerColor r="9" g="146" b="104"></markerColor>
    <rangeMarkerColor r="102" g="168" b="15"></rangeMarkerColor>
    <positionMarkerColor r="224" g="49" b="49"></positionMarkerColor>
    <currentPositionColor r="255" g="169" b="77"></currentPositionColor>
  </configuration>
</muse>
